@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #6f0000;
  --color-primary-dark: #550000;
  --color-primary-light: #8b0000;
  --color-accent-orange: #ff914d;
  --color-accent-cream: #fdf2e3;
  --color-accent-pink: #eb94a3;
  --color-beige: #E5DDD5;
  --color-rose: #D4B5B5;
  --color-mauve: #C27F7F;
  --color-light-rose: #EDC3C3;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Instrument Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}